<div class="container">
    {{!-- Featured Jobs! --}}
    <section class="featuredJobs">
        {{!-- Featured Jobs, Search Bar, and Collapsible Buttons --}}
        <div class="row mt-3">

            <div class="col-sm-8">
                <h4>Featured Jobs</h4>
                <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapse"
                    aria-expanded="true" aria-controls="collapseExample">
                    Toggle Job Panel
                </button>
            </div>

            <div class="col-sm-4">

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for jobs..."
                        aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>
        </div>

        {{!-- Collapsible 'Featured Jobs' --}}
        <div class="collapse show" id="collapse">

            {{!-- CARD DESIGN --}}
            <div class="card bg-light mb-3 mt-3 w-100" style="">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">Technical Writer Needed!</h5>
                            <p class="card-text">Apply for my job and do this and that. Thanks!</p>
                            <button type="button" class="btn btn-primary">Apply Now!</button>
                        </div>
                        <div class="col-sm-4">
                            <p><b>Location</b> SF, United States</p>
                            <p><b>Type:</b> Fixed Pay</p>
                            <p><b>Rate:</b> $8/hour</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card bg-light mb-3 mt-3 w-100" style="">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">Technical Writer Needed!</h5>
                            <p class="card-text">Apply for my job and do this and that. Thanks!</p>
                            <button type="button" class="btn btn-primary">Apply Now!</button>
                        </div>
                        <div class="col-sm-4">
                            <p><b>Location</b> SF, United States</p>
                            <p><b>Type:</b> Fixed Pay</p>
                            <p><b>Rate:</b> $8/hour</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card bg-light mb-3 mt-3 w-100" style="">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">Technical Writer Needed!</h5>
                            <p class="card-text">Apply for my job and do this and that. Thanks!</p>
                            <button type="button" class="btn btn-primary">Apply Now!</button>
                        </div>
                        <div class="col-sm-4">
                            <p><b>Location</b> SF, United States</p>
                            <p><b>Type:</b> Fixed Pay</p>
                            <p><b>Rate:</b> $8/hour</p>
                        </div>
                    </div>

                </div>
            </div>
            {{!-- END OF CARD DES --}}

        </div>

    </section>

</div>