
.footer {
    height: 200px;
    width: 100%;
    background: black;
    color: white;
}

div.logos {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.logos a {
    margin: 0 15px;
}

.logoIntro {
    font-size: 15px;
}

.logos small {
    font-size: 15px;
    display: block;
    margin-top: 5px;
}
