<div class="container">

    <div class="row">

        {{!-- Messages - Past --}}
        <div class="col-sm-3 msg-bar">

            {{!-- SINGLE MSG --}}
            <div class="single-msg">
                <div>
                    <img class="profile-picture" src="/img/profilePictures/profile1.png" height=30 width=30 />
                </div>
                <div>
                    <p class="sender-name">Zameer Ahmed<br /> <small class="sender-msg">My message was...</small></p>
                </div>
            </div>
            <hr>

            {{!-- SINGLE MSG --}}
            <div class="single-msg">
                <div>
                    <img class="profile-picture" src="/img/profilePictures/profile2.png" height=30 width=30 />
                </div>
                <div>
                    <p class="sender-name">Syed Ahsan<br /> <small class="sender-msg">My message was...</small></p>
                </div>
            </div>
            <hr>
            {{!-- SINGLE MSG --}}
            <div class="single-msg">
                <div>
                    <img class="profile-picture" src="/img/profilePictures/profile.png" height=30 width=30 />
                </div>
                <div>
                    <p class="sender-name">Syed Hasan<br /> <small class="sender-msg">My message was...</small></p>
                </div>
            </div>
            <hr>

            {{!-- SINGLE MSG --}}
            <div class="single-msg">
                <div>
                    <img class="profile-picture" src="/img/profilePictures/profile1.png" height=30 width=30 />
                </div>
                <div>
                    <p class="sender-name">Abdullah Hasan<br /> <small class="sender-msg">My message was...</small></p>
                </div>
            </div>
            <hr>

        </div>

        {{!-- Opened Message Tab --}}
        <div class="col-sm-9 active-bar">
            <div class="text-right msg">
                <p>Hi<img class="profile-picture" src="/img/profilePictures/profile1.png" height=30 width=30 /></p>
            </div>
            <br>
            <div class="text-right msg">
                <p>Are you ready to work?<img class="profile-picture" src="/img/profilePictures/profile1.png" height=30
                        width=30 /></p>
            </div>
            <br>
            <div class="text-right msg">
                <p>The task is quite simple<img class="profile-picture" src="/img/profilePictures/profile1.png"
                        height=30 width=30 /></p>
            </div>
            <div class="text-left msg ">
                <p><img class="profile-picture" src="/img/profilePictures/profile.png" height=30 width=30 />Sure</p>
            </div>
            <div class="text-left msg ">
                <p><img class="profile-picture" src="/img/profilePictures/profile.png" height=30 width=30 />Let me know
                    the details of the work!</p>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>

                <textarea name="msg" id="msg" cols="50" rows="1" placeholder="Enter your message.."></textarea>
                <button class="btn btn-success">Send Message</button>
            </div>




        </div>

    </div>
</div>