<div class="container">
    <div class="row">
        <div class="settings">
            <h1 class="display-5">Settings</h1>
            <p>Change your settings and press the save button to see them<br>stored. The changes will be rendered
                effective immediately.</p>

            <div class="singleToggle">
                <p style="display: inline;">Status: Online or Offline</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Payment Status: Valid or Invalid</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Email Address: {{user.email}}</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Customer Reviews: On or Off</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Dark Mode</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Accept Work or Show Offline</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Status: Online or Offline</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Address: Active or Inactive </p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="singleToggle">
                <p style="display: inline;">Payment Options: On or Off (Stripe)</p> <!-- Rounded switch -->
                <label class="switch float-right">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <br><br><br>

        </div>
        {{!-- <div class="col-s">
            <div class="singleToggle">
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div> --}}

    </div>
</div>
</div>