<!-- CONTENT FOR MAIN PAGE -->
<section id="mainContent-P1">
    <div class="jumbotron jumbotron-fluid">
        <div class="mainHeader">
            <div class="container">
                <h1 class="display-4">Contact Us</h1>
                <p class="lead"></p>
                <p class="lead">You're not going to hit a ridiculously long phone menu when you call us.<br />
                    <br />Your
                    email isn't going to the inbox abyss, never to be seen or heard from again.<br /><br />
                    At WorkOut, we provide the exceptional service we'd want to experience ourselves!</p>
                <!--<button type="button" class="btn btn-light">I'm an employer</button>
                            <button type="button" class="btn btn-light">I'm a freelancer</button> -->
            </div>
        </div>
    </div>
</section>

<!-- SECOND PART OF THE MAIN PAGE CONTENT -->
<div class="parentContactus">
    <div class="childContactus">

        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to
            contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Full Name</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Email Address</label>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control md-textarea"></textarea>
                                <label for="message">Your Message</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left">
                    <button type="button" class="btn btn-light">Send</button>
                </div>
                <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x editIcon"></i>
                        <p class="editLabel">NED University</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x editIcon"></i>
                        <p class="editLabel">+92 111-111-111</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x editIcon"></i>
                        <p class="editLabel">support@workout.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </div>
</div>
