button.btn {
    margin-bottom: 10px;
    width: 26%;
}
.btn-light:hover {
    background: #73538C;
    color: white;
    border: none;
    transition: 0.9 ease-in-out;
}
/*the main contact us div */
div.childContactus{ 
    color: black;
    background: transparent;
    font-size: 15px;
    margin: 0 auto;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 1em;
    height: 500px;
    border: 1px solid black;
    padding-top: 3%;
}
.childContactus label{
    margin-bottom: 2rem;
}
input[type=text]{
    outline: none;
}

/*to remove blue glowy thing from input fields */
.form-control:focus{
    border-color: #555;
    outline: 0;
    outline: thin dotted \9;
    transition: 0.8s;
    /* IE6-9 */
  
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(114, 109, 109, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(90, 88, 88, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(114, 111, 111, 0.6);
}