/* CUSTOM GOOGLE FONTS */

/* LOGO */
@import url('https://fonts.googleapis.com/css?family=Anton');

/* JUMBOTRON - MAIN TEXT - HOMEPAGE */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i');

/* 
    CUSTOM CSS CODE

    TIP:

    1. Add the name of the component. 
    2. Keep it as simple and meaningful as possible.
    3. Try to maintain heirarchy. The order in which the element exists in the HTML,
        the same order is used to style the components. (OPTIONAL)

    Shukriya. Continue.

*/

/* 

    GENERIC TAG STYLING - LIKE A, H1, H2...

*/

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 33px;
    font-style: normal;
    color: white;

    height: 100%;
    width: 100%;


}

a {
    color: white;
}

a:hover {
    color: white;
}


/* 

    CLASS BASED STYLING - LIKE .NAV, .NAVBAR....

*/


.parallax-effect {

    background: url('../MEDIA/LAPTOP.jpg');

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-bg {
    width: 100%;
}

.navbar-brand {
    font-family: 'Anton';
}

.navbar-brand img {
    color: white;
}

.navbar-brand-text {
    margin-left: 5px;
}

.navbar-transparent {
    background: transparent;
}

/* The Infamous Hamburger of Bootstrap */
.fas.fa-bars {
    color: white;
}



/* 

MAIN CONTENT 

*/

.jumbotron {
    background-color: transparent;
}

.container {
    width: 30%;
    margin-left: 50px;
    margin-right: 0px;
}

button.btn {
    margin-bottom: 10px;
}

.btn-light:hover {
    background: #73538C;
    color: white;
    border: none;
    transition: 0.9 ease-in-out;
}

/* 

    MAIN CONTENT PART 2 - CURRENT STATS!

*/
.currentStatSection {
    height: 1000px;
    width: 100%;
    background: white;
    padding-top: 10%;
}


/* 

    MEDIA QUERIES - ADD A TAG IF YOU DON'T WANT THEM MODIFIED!

*/

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .main-bg {
        background-attachment: scroll;
    }
}