<footer>
    <div class="footer">
        <div class="logos">
            <p class="logoIntro">Follow us on any of our socials and keep up to date with our success</p>
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a>
            <a href="https://www.dribbble.com"><i class="fab fa-dribbble"></i></a>
            <a href="https://www.youtbe.com"><i class="fab fa-youtube"></i></a>
            <small> Copyright 2019.</small>
            <small>Designed and Developed by Alishba and Hasan.</small>
        </div>

    </div>
</footer>