<!-- ONLY OPEN IF CORRECTIONS ARE NEEDED. NEEDS A FIX BTW! -->
<nav class="navbar navbar-expand-lg navbar-transparent" role="navigation">

    <!-- ADD CUSTOM BRAND LOGO HERE -->
    <a class="navbar-brand" href="index.html">
        <img src="/img/WebPack.svg" width="50" height="50" class="d-inline-block align-top" alt="WorkOut" />
        <!-- <span class="navbar-brand-text">WorkOut</span> -->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
        </span>
    </button>

    <!-- COLLAPSIBLE NAVBAR -->
    <!--

            FIX 1: MAKE THE NAVBAR COLLAPSED AT START. TASK!

            -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active ">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>

            {{#if homescreenNav}}
            <li class="nav-item">
                <a class="nav-link" href="#mainContent-P3">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mainContent-P2">Testimonials</a>
            </li>
            {{/if}}

            <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact Us</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            {{#if isSession}}
                <li class="nav-item">
                    <a class="nav-link" href="#">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/profile/?id={{user.id}}">{{user.name}}</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/api/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/users/register">Sign Up</a>
                </li>
            {{/if}}
        </ul>
    </div>



</nav>