body {
    font-family: 'Montserrat';
    font-weight: 400;
    /* font-size: 33px; */
    font-style: normal;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: white;
}

a:hover {
    color: white;
}

hr {
    color: white;
    background: white;
    width: 60%;
    opacity: 0.1;
}

.parallax-effect {

    background: url('./assets/MEDIA/LAPTOP.jpg');

    /* Set a specific height */
    height: 100%;
    padding-bottom: 50px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}